.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

.App-header {
    background-color: #222;
    height: 80px;
    padding: 10px;
    color: darkred;
}

.leaflet-container {
    height: 200px;
    width: 200px;
}

.leaflet-pane {
    height: 200px;
    width: 200px;
}

.App-title {
    font-size: 2.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

svg{
    stroke: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.second-hand{
    stroke-width:3;
}

.minute-hand{
    stroke-width:8;
    stroke-linecap:round;
}

.hour-hand{
    stroke-width:12;
    stroke-linecap:round;
}

.hands-cover{
    stroke-width:3;
    fill:#fff;
}

.minute-tick {
    stroke-width:3;
    fill:#000;
}

.hour-tick {
    stroke-width:8;
}

.second-label{
    font-size: 12px;
}

.hour-label{
    font-size: 32px;
}
